#logo{
    width: 500px;
    min-height: 50%;
    border-radius: 50%;
    background: rgb(255, 196, 0);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    width: 100vw;
    min-height: 100vh;
    background: #383838;
}